menu "Infinix board Support"
	config INFINIX_X6710
		bool "Support for Infinix Note 30 VIP"
		default n
		depends on MT6893
		select BOARD_INFINIX
		help
		  Say Y if you want to include support for Infinix Note 30 VIP
endmenu
