menu "Board Support"
	config BOARD_AMAZON
		bool "Support for Amazon boards"
		default n
		help
		  Say Y if you want to include support for Amazon boards

	config BOARD_APPLE
		bool "Support for Apple boards"
		default n
		help
		  Say Y if you want to include support for Apple boards

	config BOARD_GOOGLE
		bool "Support for Google boards"
		default n
		help
		  Say Y if you want to include support for Google boards

	config BOARD_HONOR
		bool "Support for Honor boards"
		default n
		help
		  Say Y if you want to include support for Honor boards

	config BOARD_HUAWEI
		bool "Support for Huawei boards"
		default n
		help
		  Say Y if you want to include support for Huawei boards

	config BOARD_INFINIX
		bool "Support for Infinix boards"
		default n
		help
		  Say Y if you want to include support for Infinix boards

	config BOARD_ITEL
		bool "Support for Itel boards"
		default n
		help
		  Say Y if you want to include support for Itel boards

	config BOARD_NOKIA
		bool "Support for Nokia boards"
		default n
		help
		  Say Y if you want to include support for Nokia boards

	config BOARD_NOTHING
		bool "Support for Nothing boards"
		default n
		help
		  Say Y if you want to include support for Nothing boards

	config BOARD_QEMU
		bool "Support for QEMU boards"
		default n
		help
		  Say Y if you want to include support for QEMU boards

	config BOARD_SAMSUNG
		bool "Support for Samsung boards"
		default n
		help
		  Say Y if you want to include support for Samsung boards

	config BOARD_VOLLA
		bool "Support for Volla boards"
		default n
		help
		  Say Y if you want to include support for Volla boards

	config BOARD_XIAOMI
		bool "Support for Xiaomi boards"
		default n
		help
		  Say Y if you want to include support for Xiaomi boards
endmenu

source "board/Kconfig.boards"

menu "Board Specific Addresses"
	config TEXT_BASE
		hex "UniLoader Text Base"
		default 0x0

	config PAYLOAD_ENTRY
		hex "Payload Entry Address"
		default 0x50000000 if NOTHING_TETRIS
		default 0x050000000 if SAMSUNG_J4LTE
		default 0x60000000 if VOLLA_ALGIZ
		default 0x50000000 if XIAOMI_BEGONIA

	config RAMDISK_ENTRY
		hex "Ramdisk Entry Address"
		default 0x40000000 if NOTHING_TETRIS
		default 0x51100000 if VOLLA_ALGIZ
		default 0x48000000 if XIAOMI_BEGONIA
endmenu
