menu "Huawei board Support"
	config HUAWEI_AGASSI2
		bool "Support for Huawei Mediapad T5"
		default n
		depends on HI6250
		select BOARD_HUAWEI
		help
		  Say Y if you want to include support for Huawei Mediapad T5

	config HUAWEI_VICTORIA
		bool "Support for Huawei P10"
		default n
		depends on HI3660
		select BOARD_HUAWEI
		help
		  Say Y if you want to include support for Huawei P10
endmenu
